---
import Layout from '../layouts/Layout.astro';

---



<Layout>


    <header class="">
		<div id="" class="header-area header-style-two">
		   <div class="large-container">
			  <div class="mega-menu-wrapper ">
				 <div class="header-main ">
					<div class="header-left">
					   <div class="header-logo md:w-36 w-28">
						<a >
							<img src="/socialandrural/img/logo-white.svg" class=" md:w-24 w-20" alt="header logo">
						 </a>
					   </div>                     
					</div>                  
					<div class="header-right d-flex justify-content-end">
					   <div class="mean__menu-wrapper d-none d-lg-block">
						  <div class="main-menu">
							 <nav id="mobile-menu">
								<ul>
								   <li class="has-dropdown">
									  <a href="https://anusreepurushothamanstartupmission.github.io/socialandrural/">Home</a>
									
								   </li>  
								   <li class="has-dropdown">
									<a  target="_blank" href="https://startupmission.kerala.gov.in/">KSUM</a>
								  
								 </li>  
								   <li>
									  <a href="#contact">Contact</a>
								   </li>
								  
								</ul>
							 </nav>
							 
						  </div>
					   </div>
					  
					  
					  
					   <div class="header__hamburger d-xl-none my-auto">
						  <div class="sidebar__toggle">
							 <a class="bar-icon" href="javascript:void(0)">
								<i class="fa-light fa-bars-sort"></i>
							 </a>
						  </div>
					   </div>
					</div>
				 </div>
			  </div>
		   </div>
		</div>
	 </header>
    
    
    <main>
   
        <!-- Breadcrumb area start --> 
       <div class="breadcrumb__area theme-bg-1 p-relative pt-160 pb-160">
          <div class="breadcrumb__thumb" data-background="/socialandrural/img/ip1.jpg"></div>
         
        
       </div>
        <!-- Breadcrumb area end --> 
     




       <section class="blog-details-page py-24 container">
          <div class="small-container ">
            <div class="flex md:flex-row flex-col gap-6 ">
               <div class=" flex md:w-2/3 flex-col ">
                  <img src="/socialandrural/img/i1m 1.png" alt="">
                  <h3 class="mb-20 text-3xl mt-20"><a href="#">Calling All Agritech Startups : Do You Have the Solution that Farmers Need? Express Your Interest Here !!
                  <p class="mb-8 text-black pt-8">The challenges faced by farmers in Rural Kerala are diverse and multifaceted. These problem statements serve as crucial guideposts for startups looking to make a meaningful impact in the agricultural sector.</p>
                  <p class=" text-black">Kerala Startup Mission seeks startups that make an impact in the following areas :  </p>
               </div>
               <div class=" flex flex-col md:w-1/3 md:pt-10 pt-3">
                  <div class=" text-justify bg-[#e9e8e7] p-4 rounded-sm mb-8">
                     This call for interest aims to understand interest from startups and following the submission of EOI, Kerala Startup Mission (KSUM) will facilitate meetings between farmers and startups to explore potential partnerships. In response to the above outlined challenges, startups are invited to express their interest in collaboration. 

                 </div>
                 <div class="btn-box">
                     <a class="primary-btn-1 btn-hover" href="contact.html">
                       SUBMIT HERE &nbsp; | <i class="icon-right-arrow"></i>
                        <span style="top: 147.172px; left: 108.5px;"></span>
                     </a>
                  </div>
               </div>
              
            </div>
            <div class=" grid md:grid-cols-2 grid-cols-1 md:gap-28 gap-6 px-6">
               <div class="">
                  <ul class=" space-y-4 list-disc text-justify  pb-10 list-outside">
                     <li>Mitigating crop damage caused by wild animals and bird attacks to ensure agricultural sustainability.
                    </li>
                     <li>Addressing the challenge of pest infestations to safeguard crop yields and farmer livelihoods.
                    </li>
                     <li>Improving access to irrigation facilities and tackling water scarcity to enhance agricultural productivity.
                    </li>
                     <li>Reducing the financial burden of expensive agricultural machinery to promote modern farming practices.
                    </li>
                     <li>Lowering production costs and mitigating competition to support the growth of organic farming.
                    </li>
                     <li>Implementing efficient farm waste management strategies to minimize environmental impact and maximize resource utilization.
                    </li>
                   
                  </ul>
               </div>

               <div class="">
                  <ul class=" space-y-4 list-disc text-justify  pb-10 list-outside list-start-from-7">
                        <li>Establishing mechanisms for fair pricing and price stabilization.
                        </li>
                        <li>Streamlining logistics and improving handling facilities for agricultural products, especially in areas where transportation infrastructure is lacking.
                        </li>
                        <li>Tackling labor shortages and reducing labor costs in agriculture, such as developing automation technologies or creating platforms for labor exchange and training.
                        </li>
                        <li>Developing technologies for affordable and convenient soil testing, along with solutions that analyze soil health data and provide expert recommendations for fertilizer and input application rates.
                        </li>
                        <li>Providing manufacturing and distribution of quality bio-inputs, such as biopesticides and biofertilizers, to promote sustainable agriculture practices in regions where these products are scarce.
                        </li>
                  </ul>
               </div>

             
             </div>

             <div class="postbox__share-wrapper mb-60">
               <div class="btn-box">
                   <a class="primary-btn-1 btn-hover" href="contact.html">
                     SUBMIT HERE &nbsp; | <i class="icon-right-arrow"></i>
                      <span style="top: 147.172px; left: 108.5px;"></span>
                   </a>
                </div>
              </div>
          </div>

          </div>

       </section>
       
        </main>    
</Layout>

