---
const { title } = Astro.props;

import Navbar from "../components/Navbar.astro";

const description = "Kerala Startup Mission is the central agency of the Government of Kerala for entrepreneurship development and incubation activities in Kerala, India.";
const url = "https://startupmission.kerala.gov.in/";

---
<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Social and Rural Impact</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Place favicon.ico in the root directory -->
   <link rel="shortcut icon" type="image/x-icon" href="/socialandrural/img/logo.svg">
   <!-- CSS here -->
   <link rel="stylesheet" href="/socialandrural/assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/meanmenu.min.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/animate.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/swiper.min.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/slick.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/magnific-popup.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/fontawesome-pro.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/icomoon.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/spacing.css">
   <link rel="stylesheet" href="/socialandrural/assets/css/main.css">
</head>

<body>




		<slot />


       <footer id="contact">
	<div class="footer-main bg-color-1 p-relative">
	   <div class="footer-shape-1" data-background="/socialandrural/assets/imgs/footer/shape-f-1.png"></div>
	   <div class="footer-shape-2" data-background="/socialandrural/assets/imgs/footer/shape-f-2.png"></div>
	  
	   <div class="small-container">
		  <div class="footer-bottom pt-30 pb-30">
			 <div class="left-area p-relative">
				<span>© All Copyright 2024 by <a href="https://startupmission.kerala.gov.in/">KSUM</a></span>
			 </div>
			 <div class="footer-socials p-relative">
				<span><a href="https://www.facebook.com/keralastartupmission" target="_blank"><i class="fab fa-facebook-f"></i></a></span>
				<span><a href="https://x.com/startup_mission" target="_blank"><i class="fab fa-twitter"></i></a></span>
				<span><a href="https://www.linkedin.com/company/kerala-startup-mission/" target="_blank"><i class="fab fa-linkedin-in"></i></a></span>
				<!-- <span><a href="#"><i class="fab fa-youtube"></i></a></span> -->
			 </div>
			 <div class="right-area p-relative">
				<span><a href="#">Get in touch with us</a></span>
				<span><a href="#">aadam@startupmission.in</a></span>
			 </div>
		  </div> 
	   </div>     
	</div>
 </footer>
	
		 <!-- JS here -->
		 <script src="/socialandrural/assets/js/jquery-3.6.0.min.js" is:inline></script>
		 <script src="/socialandrural/assets/js/waypoints.min.js" is:inline></script>
		 <script src="/socialandrural/assets/js/bootstrap.bundle.min.js" is:inline></script>
		 <script src="/socialandrural/assets/js/meanmenu.min.js" is:inline></script>
		 <script src="/socialandrural/assets/js/swiper.min.js" is:inline></script>
		 <script src="/socialandrural/assets/js/slick.min.js" is:inline></script>
		 <script src="/socialandrural/assets/js/magnific-popup.min.js" is:inline></script>
		 <script src="/socialandrural/assets/js/counterup.js" is:inline></script>
		 <script src="/socialandrural/assets/js/wow.js" is:inline></script>
		 <script src="/socialandrural/assets/js/main.js" is:inline></script>
	  
	  </body>
	  
	  </html>